@model IEnumerable<SampleCoreWebApp.Models.CustomerDto>

@{
    ViewData["Title"] = "Customers";
}

<h1>Customer Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FavoriteProductId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavoriteProductId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { partitionKey = item.PartitionKey, id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { partitionKey = item.PartitionKey, id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { partitionKey = item.PartitionKey, id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
