@model IEnumerable<SampleCoreWebApp.Models.ProductDto>

@{
    ViewData["Title"] = "Product Index";
}

<h1>Product Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { partitionKey = item.PartitionKey, id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { partitionKey = item.PartitionKey, id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { partitionKey = item.PartitionKey, id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
